/*Gallery section*/

.feature-box.sales h1 {
  font-size: 70px;
  z-index: -1px;
  opacity: 0.4;
  margin-top: -170px;
  margin-left: 150px;
}
.feature-box.sales h2 {
  font-size: 50px;
  margin-top: -155px;
  margin-left: 150px;
}
/*.feature-box.sales div{
	height: 500px;
	width:90%;
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 10px;
}*/

.feature-box.sales {
  background-repeat: no-repeat;
  background-size: cover; /*1500px 820px*/
  background-position: center;
  animation: back 300s ease-in-out infinite;
  padding-bottom: 0px;
  margin-left: -110px;
  margin-top: 0px;
  display: block;
}
@keyframes back {
  0%,
  100% {
    background-image: url("images/space.png");
  }
  2.5% {
    background-image: url("images/background (34).png");
  }
  5% {
    background-image: url("images/space2.png");
  }
  7.5% {
    background-image: url("images/space3.png");
  }
  10% {
    background-image: url("images/space4.png");
  }
  12.5% {
    background-image: url("images/star2.png");
  }
  15% {
    background-image: url("images/galaxy.png");
  }
  17.5% {
    background-image: url("images/background (31).png");
  }
  20% {
    background-image: url("images/background (32).png");
  }
  22.5% {
    background-image: url("images/background (33).png");
  }
  25% {
    background-image: url("images/space1.png");
  }
  27.5% {
    background-image: url("images/background (1).png");
  }
  30% {
    background-image: url("images/background (2).png");
  }
  32.5% {
    background-image: url("images/background (3).png");
  }
  35% {
    background-image: url("images/background (4).png");
  }
  37.5% {
    background-image: url("images/background (6).png");
  }
  40% {
    background-image: url("images/background (7).png");
  }
  42.5% {
    background-image: url("images/background (8).png");
  }
  45% {
    background-image: url("images/background (9).png");
  }
  47.5% {
    background-image: url("images/background (10).png");
  }
  50% {
    background-image: url("images/background (11).png");
  }
  52.5% {
    background-image: url("images/background (12).png");
  }
  55% {
    background-image: url("images/background (13).png");
  }
  57.5% {
    background-image: url("images/background (14).png");
  }
  60% {
    background-image: url("images/background (15).png");
  }
  62.5% {
    background-image: url("images/background (16).png");
  }
  65% {
    background-image: url("images/background (17).png");
  }
  67.5% {
    background-image: url("images/background (18).png");
  }
  70% {
    background-image: url("images/background (19).png");
  }

  72.5% {
    background-image: url("images/background (20).png");
  }
  75% {
    background-image: url("images/background (21).png");
  }
  77.5% {
    background-image: url("images/background (22).png");
  }
  80% {
    background-image: url("images/background (23).png");
  }
  82.5% {
    background-image: url("images/background (24).png");
  }
  85% {
    background-image: url("images/background (25).png");
  }
  87.5% {
    background-image: url("images/background (26).png");
  }
  90% {
    background-image: url("images/background (27).png");
  }
  92.5% {
    background-image: url("images/background (28).png");
  }
  95% {
    background-image: url("images/background (29).png");
  }
  97.5% {
    background-image: url("images/background (30).png");
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 380px;
  justify-content: center;
  align-items: center;
}

.swiper-slide .imagebx {
  width: 100%;
  height: 430px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.swiper-slide .imagebx img {
  width: auto;
  height: 380px;
  justify-content: center;
  align-items: center;
  /*-webkit-box-reflect:below 0px linear-gradient(transparent,transparent,#0006);*/
}
/*.imagebx:hover{
	
	transition: 0.5s;
	color: white; 
}*/
/*gallery info*/
.content2 {
  position: absolute;
  left: 20px;
  top: 0px;
  bottom: 0px;
  width: 90.5%;
  height: 88.5%;
  box-sizing: border-box;
  text-align: center;
  color: transparent;
  transition: 0.5s;
  transition-delay: 0.3s;
  transform: skew(4deg, 4deg);
}
.content2 p {
  margin-top: 160px;
}
.content2:hover {
  transition: 0.5s;
  color: darkgrey;
  transition-delay: 0.3s;
  background: rgba(0, 0, 0, 0.5);
}
.bar1 {
  width: 84.5%;
}
.bar2 {
  width: 80.5%;
}
.bar3 {
  width: 73.7%;
}
.bar4 {
  width: 78%;
}
.some1 {
  margin-left: 200px;
}
/*sketch info*/

/* responsive rules*/
@media (max-width: 715px) {
  .feature-box.sales h1 {
    font-size: 30px;
    margin-top: 20px;
    margin-left: 120px;
  }
  .res2 {
    margin-top: -30px;
  }
  .feature-box.sales h2 {
    font-size: 20px;
    margin-top: -65px;
    margin-left: 120px;
  }
  .feature-box.sales {
    margin-left: -110px;
    padding-bottom: 40px;
  }

  .swiper-slide {
    width: 150px;
    height: 150px;
  }

  .swiper-slide .imagebx {
    width: 100%;
    height: 210px;
    margin-left: 60px;
  }

  .swiper-slide .imagebx img {
    width: auto;
    height: 160px;
  }

  /*gallery info*/
  .content2 {
    width: 100%;
    height: 76%;
    margin-left: 40px;
  }
  .content2 p {
    margin-top: 60px;
    font-size: 10px;
  }

  .bar1,
  .bar2,
  .bar3,
  .bar4 {
    width: 100%;
  }

  .some1 {
    margin-left: 100px;
  }
}
