@mixin buttonStyle {
  color: var(--c-yellowOrange);
  background: var(--c-font-dark);
  overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 20px var(--c-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    width: 120%;
    height: 120%;
    background: #f0921b;
    transform: rotate(45deg);
    top: 90%;
    left: -110%;
  }

  &:hover {
    background: var(--c-redAlt);
    color: var(--c-white);

    &::before {
      top: -10%;
      left: -10%;
      animation: socialAnimate 0.7s;
    }
  }
}

@keyframes socialAnimate {
  0% {
    top: 90%;
    left: -110%;
  }
  50% {
    left: 10%;
    top: -30%;
  }

  100% {
    left: -10%;
    top: -10%;
  }
}
